/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS reset */

/* Helper */
    /*
    header, nav, main, div {border: red 1px solid;}
    */
/* End of helper */

body {
    background-color: #212121;
    color: #fff;
    font-family: 'Roboto', Arial, sans-serif;

}

header {
    max-height: 56px;
    width: 100%;
    display: inline-block;
}

nav {
    margin: 0;
    padding-left: 20px;
    padding-right: 5px;
    width: 240px;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

.logo {
    width: 120px;
}

.menu-icon {
    width: 3%;
    padding-left: 15px;
}

.searchbar {
    width: 15%;
}

.microphone-icon {

}

.camera-icon {
    width: 15%;
}

.notifications-icon {
    width: 15%;
}

.circle {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 10px;
    background: #1eff0060;
    color: #fff;
    text-align: center;
    font-size: 24px;
    display: inline-block;
}

.sidebar-section {
    font-size: 14px;
    line-height: 2rem;
    font-weight: 500;
    border-bottom: 1px solid;
    border-bottom-color: rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-section li:hover {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}

.sidebar-section a {
    display: block;
    width: 100%;
    padding: 5px 20px;
}

.sidebar-section h2 {
    font-size: 16px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #fff;
}

footer {
    display: block;
    min-height: 50px;
}




/*Scroll bar style */
/* width */
::-webkit-scrollbar {
    width: 9px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #88888893;
    border-radius: 5px;
  }

  /* End of scrollbar style */